@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "S-Core Dream-6Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c66196f017c2e000d9df16d/SCDream6.otf")
    format("opentype");
}

@font-face {
  font-family: "S-Core Dream-4Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5c80e2df480432000961ba4b/SCDream4.otf")
    format("opentype");
}

@font-face {
  font-family: "S-Core Dream-5Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c80e2df480432000961ba4b/SCDream5.otf")
    format("opentype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6732ed67e20d4a8e2f508029/fonts/pretendardvariable.ttf")
    format("truetype");
}
