.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .div {
  display: flex;
  flex-direction: column;
  height: 1080px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  height: 1080px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-image: url(./img/frame-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "S-Core Dream-6Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0;
  line-height: 70px;
}

.frame .we-are-looking-for {
  position: relative;
  align-self: stretch;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.frame .div-3 {
  display: flex;
  width: 1920px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff80;
}

.frame .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
}

.frame .image {
  position: relative;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.frame .div-5 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "S-Core Dream-6Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.frame .div-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 120px 240px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .div-6 {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: flex-start;
  gap: 8px;
  padding: 8px;
  position: relative;
}

.frame .div-7 {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8f8f8;
  border-radius: 32px;
}

.frame .div-8 {
  display: flex;
  flex-direction: column;
  width: 593px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.frame .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-weight: 500;
  color: #539e61;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "S-Core Dream-6Bold", Helvetica;
  font-weight: 700;
  color: #444444;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 37.5px;
}

.frame .group {
  background-color: #deefe1;
  position: relative;
  width: 487px;
  height: 289px;
  border-radius: 32px;
}

.frame .element {
  position: absolute;
  width: 212px;
  height: 200px;
  top: 44px;
  left: 138px;
  object-fit: cover;
}

.frame .element-wrapper {
  background-color: #dfefe2;
  position: relative;
  width: 487px;
  height: 289px;
  border-radius: 32px;
}

.frame .img {
  position: absolute;
  width: 237px;
  height: 200px;
  top: 44px;
  left: 125px;
  object-fit: cover;
}

.frame .element-2 {
  position: absolute;
  width: 154px;
  height: 203px;
  top: 43px;
  left: 166px;
  object-fit: cover;
}

.frame .find-opportunities-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 180px 360px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-image: url(./img/frame-18.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .find-opportunities {
  position: relative;
  text-align: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 90px;
}

.frame .the-ho-in-languase-wrapper {
  display: flex;
  height: 260px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 109px 798px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #171917;
}

.frame .the-ho-in-languase {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
